body {
  margin: 0;
}

.header {
  padding-top: 25px;
  padding-bottom: 110px;
  box-sizing: border-box;
}
@media (min-width: 767px) {
  .header {
    padding-bottom: 140px;
  }
}
@media (min-width: 1094px) {
  .header {
    padding-bottom: 170px;
  }
}
@media (min-width: 767px) {
  .header__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: end;
    position: relative;
    padding-top: 130px;
  }
}
@media (min-width: 1094px) {
  .header__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    position: relative;
  }
}
.header__img {
  width: 320px;
  height: 245px;
  background-image: url(../images/1-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .header__img {
    margin: 0;
    background-image: url(../images/1-mobile.jpg);
    width: 430px;
    height: 318px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1094px) {
  .header__img {
    margin: 0;
    background-image: url(../images/1.png);
    width: 816px;
    height: 464px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header__img-image {
  width: 100%;
}
.header__text {
  color: #333333;
  z-index: 0;
}
@media (max-width: 766px) {
  .header__text-wrap {
    display: block;
    margin: 0 auto;
  }
}
.header__text-big {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 766px) {
  .header__text-big {
    width: 260px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 767px) {
  .header__text-big {
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1094px) {
  .header__text-big {
    font-size: 62px;
    line-height: 78px;
    margin-bottom: 30px;
  }
}
.header__text-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 260px;
}
@media (max-width: 766px) {
  .header__text-small {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 767px) {
  .header__text-small {
    width: 250px;
  }
}
@media (min-width: 1094px) {
  .header__text-small {
    width: 276px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 26px;
}
@media (max-width: 766px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-200%);
  }
}
.header__nav-link {
  text-decoration: none;
  color: #333333;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.header__nav-link:hover {
  text-shadow: 0 0 1px;
}
.header__nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page {
  font-family: "Inter", sans-serif;
  background: #F7F7F7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page__see-more {
  display: inline-block;
  color: #0DB2B3;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}
.page__see-more::after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 1px;
  width: 0%;
  background-color: #0DB2B3;
  transition: 0.3s;
}
.page__see-more:hover::after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 1px;
  width: 100%;
  background-color: #0DB2B3;
}

.container {
  max-width: 1194px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .container-content {
    max-width: 1194px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media (min-width: 1094px) {
  .container-content {
    max-width: 1194px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
.container-con {
  padding: 0;
  margin: 0;
}
@media (max-width: 766px) {
  .container-con {
    max-width: 1194px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
.container-design {
  max-width: 1194px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .container-design {
    max-width: 1194px;
    padding: 0 30px 0 0;
    margin: 0 auto;
  }
}
@media (min-width: 1094px) {
  .container-design {
    max-width: 1194px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
.container-eye {
  max-width: 1194px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .container-eye {
    max-width: 1194px;
    padding: 0 0 0 30px;
    margin: 0 auto;
  }
}
@media (min-width: 1094px) {
  .container-eye {
    max-width: 1194px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1094px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 767px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}
.grid--desktop {
  display: block;
}
@media (min-width: 767px) {
  .grid--desktop {
    display: grid;
    gap: 20px;
  }
}
@media (min-width: 1094px) {
  .grid--desktop {
    display: grid;
    gap: 30px;
  }
}
@media (min-width: 767px) {
  .grid__item__tablet--1-1 {
    grid-column: 1/2;
  }
  .grid__item__tablet--1-2 {
    grid-column: 1/3;
  }
  .grid__item__tablet--1-3 {
    grid-column: 1/4;
  }
  .grid__item__tablet--1-4 {
    grid-column: 1/5;
  }
  .grid__item__tablet--1-5 {
    grid-column: 1/6;
  }
  .grid__item__tablet--1-6 {
    grid-column: 1/7;
  }
  .grid__item__tablet--1-7 {
    grid-column: 1/8;
  }
  .grid__item__tablet--1-8 {
    grid-column: 1/9;
  }
  .grid__item__tablet--1-9 {
    grid-column: 1/10;
  }
  .grid__item__tablet--1-10 {
    grid-column: 1/11;
  }
  .grid__item__tablet--1-11 {
    grid-column: 1/12;
  }
  .grid__item__tablet--1-12 {
    grid-column: 1/13;
  }
  .grid__item__tablet--2-2 {
    grid-column: 2/3;
  }
  .grid__item__tablet--2-3 {
    grid-column: 2/4;
  }
  .grid__item__tablet--2-4 {
    grid-column: 2/5;
  }
  .grid__item__tablet--2-5 {
    grid-column: 2/6;
  }
  .grid__item__tablet--2-6 {
    grid-column: 2/7;
  }
  .grid__item__tablet--2-7 {
    grid-column: 2/8;
  }
  .grid__item__tablet--2-8 {
    grid-column: 2/9;
  }
  .grid__item__tablet--2-9 {
    grid-column: 2/10;
  }
  .grid__item__tablet--2-10 {
    grid-column: 2/11;
  }
  .grid__item__tablet--2-11 {
    grid-column: 2/12;
  }
  .grid__item__tablet--2-12 {
    grid-column: 2/13;
  }
  .grid__item__tablet--3-3 {
    grid-column: 3/4;
  }
  .grid__item__tablet--3-4 {
    grid-column: 3/5;
  }
  .grid__item__tablet--3-5 {
    grid-column: 3/6;
  }
  .grid__item__tablet--3-6 {
    grid-column: 3/7;
  }
  .grid__item__tablet--3-7 {
    grid-column: 3/8;
  }
  .grid__item__tablet--3-8 {
    grid-column: 3/9;
  }
  .grid__item__tablet--3-9 {
    grid-column: 3/10;
  }
  .grid__item__tablet--3-10 {
    grid-column: 3/11;
  }
  .grid__item__tablet--3-11 {
    grid-column: 3/12;
  }
  .grid__item__tablet--3-12 {
    grid-column: 3/13;
  }
  .grid__item__tablet--4-4 {
    grid-column: 4/5;
  }
  .grid__item__tablet--4-5 {
    grid-column: 4/6;
  }
  .grid__item__tablet--4-6 {
    grid-column: 4/7;
  }
  .grid__item__tablet--4-7 {
    grid-column: 4/8;
  }
  .grid__item__tablet--4-8 {
    grid-column: 4/9;
  }
  .grid__item__tablet--4-9 {
    grid-column: 4/10;
  }
  .grid__item__tablet--4-10 {
    grid-column: 4/11;
  }
  .grid__item__tablet--4-11 {
    grid-column: 4/12;
  }
  .grid__item__tablet--4-12 {
    grid-column: 4/13;
  }
  .grid__item__tablet--5-5 {
    grid-column: 5/6;
  }
  .grid__item__tablet--5-6 {
    grid-column: 5/7;
  }
  .grid__item__tablet--5-7 {
    grid-column: 5/8;
  }
  .grid__item__tablet--5-8 {
    grid-column: 5/9;
  }
  .grid__item__tablet--5-9 {
    grid-column: 5/10;
  }
  .grid__item__tablet--5-10 {
    grid-column: 5/11;
  }
  .grid__item__tablet--5-11 {
    grid-column: 5/12;
  }
  .grid__item__tablet--5-12 {
    grid-column: 5/13;
  }
  .grid__item__tablet--6-6 {
    grid-column: 6/7;
  }
  .grid__item__tablet--6-7 {
    grid-column: 6/8;
  }
  .grid__item__tablet--6-8 {
    grid-column: 6/9;
  }
  .grid__item__tablet--6-9 {
    grid-column: 6/10;
  }
  .grid__item__tablet--6-10 {
    grid-column: 6/11;
  }
  .grid__item__tablet--6-11 {
    grid-column: 6/12;
  }
  .grid__item__tablet--6-12 {
    grid-column: 6/13;
  }
  .grid__item__tablet--7-7 {
    grid-column: 7/8;
  }
  .grid__item__tablet--7-8 {
    grid-column: 7/9;
  }
  .grid__item__tablet--7-9 {
    grid-column: 7/10;
  }
  .grid__item__tablet--7-10 {
    grid-column: 7/11;
  }
  .grid__item__tablet--7-11 {
    grid-column: 7/12;
  }
  .grid__item__tablet--7-12 {
    grid-column: 7/13;
  }
  .grid__item__tablet--8-8 {
    grid-column: 8/9;
  }
  .grid__item__tablet--8-9 {
    grid-column: 8/10;
  }
  .grid__item__tablet--8-10 {
    grid-column: 8/11;
  }
  .grid__item__tablet--8-11 {
    grid-column: 8/12;
  }
  .grid__item__tablet--8-12 {
    grid-column: 8/13;
  }
  .grid__item__tablet--9-9 {
    grid-column: 9/10;
  }
  .grid__item__tablet--9-10 {
    grid-column: 9/11;
  }
  .grid__item__tablet--9-11 {
    grid-column: 9/12;
  }
  .grid__item__tablet--9-12 {
    grid-column: 9/13;
  }
  .grid__item__tablet--10-10 {
    grid-column: 10/11;
  }
  .grid__item__tablet--10-11 {
    grid-column: 10/12;
  }
  .grid__item__tablet--10-12 {
    grid-column: 10/13;
  }
  .grid__item__tablet--11-11 {
    grid-column: 11/12;
  }
  .grid__item__tablet--11-12 {
    grid-column: 11/13;
  }
  .grid__item__tablet--12-12 {
    grid-column: 12/13;
  }
}
@media (min-width: 1094px) {
  .grid__item--1-1 {
    grid-column: 1/2;
  }
  .grid__item--1-2 {
    grid-column: 1/3;
  }
  .grid__item--1-3 {
    grid-column: 1/4;
  }
  .grid__item--1-4 {
    grid-column: 1/5;
  }
  .grid__item--1-5 {
    grid-column: 1/6;
  }
  .grid__item--1-6 {
    grid-column: 1/7;
  }
  .grid__item--1-7 {
    grid-column: 1/8;
  }
  .grid__item--1-8 {
    grid-column: 1/9;
  }
  .grid__item--1-9 {
    grid-column: 1/10;
  }
  .grid__item--1-10 {
    grid-column: 1/11;
  }
  .grid__item--1-11 {
    grid-column: 1/12;
  }
  .grid__item--1-12 {
    grid-column: 1/13;
  }
  .grid__item--2-2 {
    grid-column: 2/3;
  }
  .grid__item--2-3 {
    grid-column: 2/4;
  }
  .grid__item--2-4 {
    grid-column: 2/5;
  }
  .grid__item--2-5 {
    grid-column: 2/6;
  }
  .grid__item--2-6 {
    grid-column: 2/7;
  }
  .grid__item--2-7 {
    grid-column: 2/8;
  }
  .grid__item--2-8 {
    grid-column: 2/9;
  }
  .grid__item--2-9 {
    grid-column: 2/10;
  }
  .grid__item--2-10 {
    grid-column: 2/11;
  }
  .grid__item--2-11 {
    grid-column: 2/12;
  }
  .grid__item--2-12 {
    grid-column: 2/13;
  }
  .grid__item--3-3 {
    grid-column: 3/4;
  }
  .grid__item--3-4 {
    grid-column: 3/5;
  }
  .grid__item--3-5 {
    grid-column: 3/6;
  }
  .grid__item--3-6 {
    grid-column: 3/7;
  }
  .grid__item--3-7 {
    grid-column: 3/8;
  }
  .grid__item--3-8 {
    grid-column: 3/9;
  }
  .grid__item--3-9 {
    grid-column: 3/10;
  }
  .grid__item--3-10 {
    grid-column: 3/11;
  }
  .grid__item--3-11 {
    grid-column: 3/12;
  }
  .grid__item--3-12 {
    grid-column: 3/13;
  }
  .grid__item--4-4 {
    grid-column: 4/5;
  }
  .grid__item--4-5 {
    grid-column: 4/6;
  }
  .grid__item--4-6 {
    grid-column: 4/7;
  }
  .grid__item--4-7 {
    grid-column: 4/8;
  }
  .grid__item--4-8 {
    grid-column: 4/9;
  }
  .grid__item--4-9 {
    grid-column: 4/10;
  }
  .grid__item--4-10 {
    grid-column: 4/11;
  }
  .grid__item--4-11 {
    grid-column: 4/12;
  }
  .grid__item--4-12 {
    grid-column: 4/13;
  }
  .grid__item--5-5 {
    grid-column: 5/6;
  }
  .grid__item--5-6 {
    grid-column: 5/7;
  }
  .grid__item--5-7 {
    grid-column: 5/8;
  }
  .grid__item--5-8 {
    grid-column: 5/9;
  }
  .grid__item--5-9 {
    grid-column: 5/10;
  }
  .grid__item--5-10 {
    grid-column: 5/11;
  }
  .grid__item--5-11 {
    grid-column: 5/12;
  }
  .grid__item--5-12 {
    grid-column: 5/13;
  }
  .grid__item--6-6 {
    grid-column: 6/7;
  }
  .grid__item--6-7 {
    grid-column: 6/8;
  }
  .grid__item--6-8 {
    grid-column: 6/9;
  }
  .grid__item--6-9 {
    grid-column: 6/10;
  }
  .grid__item--6-10 {
    grid-column: 6/11;
  }
  .grid__item--6-11 {
    grid-column: 6/12;
  }
  .grid__item--6-12 {
    grid-column: 6/13;
  }
  .grid__item--7-7 {
    grid-column: 7/8;
  }
  .grid__item--7-8 {
    grid-column: 7/9;
  }
  .grid__item--7-9 {
    grid-column: 7/10;
  }
  .grid__item--7-10 {
    grid-column: 7/11;
  }
  .grid__item--7-11 {
    grid-column: 7/12;
  }
  .grid__item--7-12 {
    grid-column: 7/13;
  }
  .grid__item--8-8 {
    grid-column: 8/9;
  }
  .grid__item--8-9 {
    grid-column: 8/10;
  }
  .grid__item--8-10 {
    grid-column: 8/11;
  }
  .grid__item--8-11 {
    grid-column: 8/12;
  }
  .grid__item--8-12 {
    grid-column: 8/13;
  }
  .grid__item--9-9 {
    grid-column: 9/10;
  }
  .grid__item--9-10 {
    grid-column: 9/11;
  }
  .grid__item--9-11 {
    grid-column: 9/12;
  }
  .grid__item--9-12 {
    grid-column: 9/13;
  }
  .grid__item--10-10 {
    grid-column: 10/11;
  }
  .grid__item--10-11 {
    grid-column: 10/12;
  }
  .grid__item--10-12 {
    grid-column: 10/13;
  }
  .grid__item--11-11 {
    grid-column: 11/12;
  }
  .grid__item--11-12 {
    grid-column: 11/13;
  }
  .grid__item--12-12 {
    grid-column: 12/13;
  }
}
@media (min-width: 767px) {
  .grid__eye {
    height: -moz-min-content;
    height: min-content;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 19%, 8%, 19%, 16%, 6%, 32%;
  }
}
@media (min-width: 767px) and (min-width: 767px) {
  .grid__eye {
    gap: 20px;
  }
}
@media (min-width: 767px) and (min-width: 1094px) {
  .grid__eye {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 767px) {
  .grid__eye__row--1-1 {
    grid-row: 1/2;
  }
  .grid__eye__row--1-2 {
    grid-row: 1/3;
  }
  .grid__eye__row--1-3 {
    grid-row: 1/4;
  }
  .grid__eye__row--1-4 {
    grid-row: 1/5;
  }
  .grid__eye__row--1-5 {
    grid-row: 1/6;
  }
  .grid__eye__row--1-6 {
    grid-row: 1/7;
  }
  .grid__eye__row--2-2 {
    grid-row: 2/3;
  }
  .grid__eye__row--2-3 {
    grid-row: 2/4;
  }
  .grid__eye__row--2-4 {
    grid-row: 2/5;
  }
  .grid__eye__row--2-5 {
    grid-row: 2/6;
  }
  .grid__eye__row--2-6 {
    grid-row: 2/7;
  }
  .grid__eye__row--3-3 {
    grid-row: 3/4;
  }
  .grid__eye__row--3-4 {
    grid-row: 3/5;
  }
  .grid__eye__row--3-5 {
    grid-row: 3/6;
  }
  .grid__eye__row--3-6 {
    grid-row: 3/7;
  }
  .grid__eye__row--4-4 {
    grid-row: 4/5;
  }
  .grid__eye__row--4-5 {
    grid-row: 4/6;
  }
  .grid__eye__row--4-6 {
    grid-row: 4/7;
  }
  .grid__eye__row--5-5 {
    grid-row: 5/6;
  }
  .grid__eye__row--5-6 {
    grid-row: 5/7;
  }
  .grid__eye__row--6-6 {
    grid-row: 6/7;
  }
}
@media (min-width: 767px) {
  .grid__eye__column--1-1 {
    grid-column: 1/2;
  }
  .grid__eye__column--1-2 {
    grid-column: 1/3;
  }
  .grid__eye__column--2-2 {
    grid-column: 2/3;
  }
}

.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 48px;
  background-color: #333333;
  color: #F7F7F7;
  text-decoration: none;
}
.button-buy:hover {
  background-color: #131313;
  box-shadow: 1px 3px 8px rgba(86, 86, 88, 0.4);
}

.icon__logo-img {
  width: 161px;
  height: 26px;
}

.plus {
  padding-bottom: 140px;
}
@media (min-width: 1094px) {
  .plus {
    padding-bottom: 170px;
  }
}
.plus__desktop-nav__list {
  display: flex;
  justify-content: center;
  gap: 84px;
  list-style-type: none;
  margin-bottom: 90px;
  padding: 0;
}
@media (max-width: 766px) {
  .plus__desktop-nav__list {
    display: none;
  }
}
@media (min-width: 767px) {
  .plus__desktop-nav__list {
    display: none;
  }
}
@media (min-width: 1094px) {
  .plus__desktop-nav__list {
    display: flex;
  }
}
.plus__desktop-nav__list__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}
.plus__desktop-nav__list__link:hover {
  text-shadow: 0 0 1px;
}
.plus__icon {
  width: 50px;
  height: 40px;
  margin-bottom: 40px;
}
.plus__topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;
}
@media (min-width: 767px) {
  .plus__topics {
    display: grid;
    flex-direction: row;
    align-items: start;
    gap: 30px;
    padding-bottom: 110px;
  }
}
@media (min-width: 1094px) {
  .plus__topics {
    display: grid;
    flex-direction: row;
    align-items: start;
    padding-bottom: 140px;
    gap: 30px;
  }
}
.plus__topics__topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.plus__topics__topic--desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 766px) {
  .plus__topics__topic--desktop {
    display: none;
  }
}
.plus__topics__big-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .plus__topics__big-text-padding {
    margin-bottom: 20px;
  }
}
@media (min-width: 1094px) {
  .plus__topics__big-text-padding {
    margin-bottom: 48px;
  }
}
.plus__topics__small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}
@media (max-width: 766px) {
  .plus__topics__small-text {
    width: 260px;
  }
}
.plus__bottom-img {
  text-align: center;
}
.plus__bottom-img-image {
  width: 296px;
}
@media (min-width: 767px) {
  .plus__bottom-img-image {
    width: 700px;
  }
}
@media (min-width: 1094px) {
  .plus__bottom-img-image {
    width: 846px;
  }
}

@media (max-width: 766px) {
  .design__wrap {
    width: 260px;
    margin: 0 auto;
  }
}
.design__header {
  margin: 0 auto;
  width: 260px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 30px;
}
.design__header::after {
  content: "";
  display: block;
  background-image: url(../images/3.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-bottom: 100%;
  position: relative;
  margin-top: 30px;
}
@media (min-width: 767px) {
  .design__header::after {
    display: none;
  }
}
@media (min-width: 767px) {
  .design__header {
    width: 340px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    margin-left: 0;
  }
}
@media (min-width: 1094px) {
  .design__header {
    width: 582px;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    margin-left: 0;
  }
}
.design__img {
  position: relative;
  width: 100%;
  max-height: 415px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 20px;
}
@media (max-width: 766px) {
  .design__img {
    display: none;
  }
}
.design__img::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.design__img-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.design__dscr {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7C7C7C;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .design__dscr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
  }
}

.eye {
  padding-top: 120px;
}
.eye__img {
  position: relative;
  width: 100%;
  max-height: 415px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.eye__img::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.eye__img-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 766px) {
  .eye__wrap {
    width: 260px;
    margin: 0 auto;
  }
}
.eye__header {
  margin: 0 auto;
  width: 260px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #333333;
}
@media (max-width: 766px) {
  .eye__header {
    margin-bottom: 30px;
  }
}
@media (min-width: 767px) {
  .eye__header {
    width: 340px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    margin-left: 0;
  }
}
@media (min-width: 1094px) {
  .eye__header {
    width: 582px;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    margin-left: 0;
  }
}
.eye__dscr {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7C7C7C;
}
@media (max-width: 766px) {
  .eye__dscr {
    margin-bottom: 30px;
  }
}
@media (min-width: 767px) {
  .eye__dscr {
    font-size: 16px;
    line-height: 24px;
  }
}/*# sourceMappingURL=main.css.map */